# Folder of virtual environment
/venv_fd

/AK.txt

# Folders generate by python in runtime
/Controllers/__pycache__
/Views/__pycache__
/Resources/__pycache__

# Images of example
/Images

# Image result
/result.jpg

# Person Group Id documents
/PersonGroupId